[Desktop Entry]
Version=1.0
Name=PowerJuiceX2
Comment=PowerJuiceX2
Exec=PowerJuiceX2
Terminal=false
Icon=powerjuicex2
Type=Application
Categories=AudioVideo;Audio;
